.classic-toolbar-widget {
    --ck-color-toolbar-background: transparent;
    --ck-color-button-default-background: transparent;
    --ck-color-button-default-disabled-background: transparent;
    min-height: 39px;
    flex-shrink: 0;
}

.classic-toolbar-widget .ck.ck-toolbar {
    border: none;
}

.classic-toolbar-widget .ck.ck-button.ck-disabled {
    opacity: 0.3;
}

body.experimental-feature-new-layout .classic-toolbar-widget {
    transition: opacity 250ms ease-in;

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}
